<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="arm_description_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="MarkIIHardware" type="system">

            <hardware>
                <plugin>simple_arm/ArmHardware</plugin>
                <param name="serial_port">/dev/ttyUSB0</param>
                <param name="baudrate">1000000</param>
            </hardware>

            <!-- Joint Interfaces -->
            <joint name="base_link_Revolute-1">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['base_link_Revolute-1']}</param>
                </state_interface>
            </joint>
            <joint name="link1_Revolute-3">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['link1_Revolute-3']}</param>
                </state_interface>
            
            </joint>
            <joint name="link2_Revolute-4">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['link2_Revolute-4']}</param>
                </state_interface>
            </joint>
            <joint name="link3_Revolute-5">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['link3_Revolute-5']}</param>
                </state_interface>
            </joint>
            <joint name="link4_Revolute-6">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['link4_Revolute-6']}</param>
                </state_interface>
            </joint>
            <joint name="link5_Revolute-7">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['link5_Revolute-7']}</param>
                </state_interface>
            </joint>
            <joint name="link6_Slider-8">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['link6_Slider-8']}</param>
                </state_interface>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>